pip command to install all the packages 

pip install Flask python-dotenv Pillow Flask-Cors google-generativeai PyMuPDF Flask-Mail mysql-connector-python Flask-Bcrypt Flask-JWT-Extended authlib google-auth Flask-SQLAlchemy
